<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisps.article.provider.mapping.mapper.ArticleMapper">
    <resultMap id="BaseResultMap" type="com.wisps.article.provider.entity.ArticleEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="channel_id" jdbcType="BIGINT" property="channelId"/>
        <result column="cover_type" jdbcType="TINYINT" property="coverType"/>
        <result column="images" jdbcType="VARCHAR" property="images"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="pub_time" jdbcType="TIMESTAMP" property="pubTime"/>
        <result column="uid" jdbcType="BIGINT" property="uid"/>
        <result column="oid" jdbcType="BIGINT" property="oid"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="modifytime" jdbcType="TIMESTAMP" property="modifytime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        title,
        content,
        channel_id,
        cover_type,
        images,
        status,
        pub_time,
        uid,
        oid,
        createtime,
        modifytime
    </sql>

</mapper>