<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisps.article.provider.mapping.mapper.ChannelMapper">
    <resultMap id="BaseResultMap" type="com.wisps.article.provider.entity.ChannelEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="channel_name" jdbcType="VARCHAR" property="channelName"/>
        <result column="level_code" jdbcType="TINYINT" property="levelCode"/>
        <result column="uid" jdbcType="BIGINT" property="uid"/>
        <result column="oid" jdbcType="BIGINT" property="oid"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="modifytime" jdbcType="TIMESTAMP" property="modifytime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        channel_name,
        level_code,
        uid,
        oid,
        createtime,
        modifytime
    </sql>

</mapper>